/* text-blue */
.text-blue-50 {
    color: #f1f7fe;
}

.text-blue-100 {
    color: #e3edfb;
}

.text-blue-200 {
    color: #c0dbf7;
}

.text-blue-300 {
    color: #89bff0;
}

.text-blue-400 {
    color: #4a9de6;
}

.text-blue-500 {
    color: #2381d4;
}

.text-blue-600 {
    color: #1462b0;
}

.text-blue-700 {
    color: #125192;
}

.text-blue-800 {
    color: #134579;
}

.text-blue-900 {
    color: #153b65;
}

.text-blue-950 {
    color: #0e2643;
}

/* text-gray */
.text-gray-50 {
    color: #F9FAFB;
}

.text-gray-100 {
    color: #F3F4F6;
}

.text-gray-200 {
    color: #E5E7EB;
}

.text-gray-300 {
    color: #D1D5DB;
}

.text-gray-400 {
    color: #9CA3AF;
}

.text-gray-500 {
    color: #6B7280;
}

.text-gray-600 {
    color: #4B5563;
}

.text-gray-700 {
    color: #374151;
}

.text-gray-800 {
    color: #1F2937;
}

.text-gray-900 {
    color: #111827;
}



.rc-tooltip {
    opacity: 1 !important;
}

.hierarchy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.item-container {
    position: relative;
    margin-left: 20px;
}

.item {
    padding: 10px;
    border: 2px solid;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-children {
    margin-left: 10rem;
    position: relative;
}


